.displayContainer {
  border-radius: 8px;
  background-color: rgb(34, 44, 65);
  width: 45vw;
  height: 80vh;
}
.general {
  background-color: rgb(86, 110, 162);
}

.nameHeader {
  width: 100%;
  text-align: center;
  padding: 5px;
}

.contactInfo {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 5px;
}
.education {
  padding: 5px;
}

.educationHeader {
  width: 100%;
  text-align: center;
}
.workExperience {
}
